.tab-bar-menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
}
.tab-bar-menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab-bar-menu button:hover {
    background-color: #ddd;
}
.tab-bar-menu button.active {
    background-color: #ccc;
}
.tab-bar-content {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
@media screen and (max-width: 1300px) {
    .tab-bar-menu,
    .tab-bar-content {
        width: 90%;
    }
}
.tab-bar-content table {
    border-collapse: collapse;
    min-width: 450px;
    width: 100%;
    overflow: scroll;
    background-color: white;
}
.tab-bar-content td,
.tab-bar-content th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tab-bar-content tr:nth-child(even) {
    background-color: #dddddd;
}
table.user-table .id-content {
    width: 10%;
    min-width: 50px;
}
table.user-table .name-content {
    width: 17.5%;
    min-width: 200px;
}
table.user-table .name-actor-content {
    width: 60%;
    min-width: 200px;
}
table.user-table .action-content {
    width: 20%;
    min-width: 200px;
}
table .edit,
table .delete {
    width: 20%;
    min-width: 200px;
    text-align: center;
    color: white;
    cursor: pointer;
}
table .edit,
.data-box button {
    background-color: #0d253f;
    transition: all 200ms ease-in-out;
}
table .edit:hover,
.data-box button:hover {
    background-color: #01b4e4;
    transition: all 300ms ease-in-out;
}
table .delete,
.data-box .delete {
    background-color: #8b0000;
    transition: all 200ms ease-in-out;
}
table .delete:hover,
.data-box .delete:hover {
    background-color: #ff9677;
    transition: all 300ms ease-in-out;
}
table .small {
    width: 10%;
    min-width: 100px;
}
.data-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.data-box input,
.data-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.data-box .component {
    margin-bottom: 15px;
}
.data-box button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0d253f;
    width: 45%;
}

.data-box .pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data-box .pair button {
    width: 45%
}
.data-box .favorite-page {
    width: 75px;
}
.data-box button.page-index {
    background-color: #0d253f;
    transition: all 200ms ease-in-out;
    width: 75px;
    border-radius: 0px;
}
.data-box button.page-index:hover {
    background-color: #01b4e4;
    transition: all 300ms ease-in-out;
}
.data-box button.previous {
    border-radius: 10px 0px 0px 10px;
}
.data-box button.next {
    border-radius: 0px 10px 10px 0px;
}
.data-box .centered {
    margin: 0px auto;
}
.data-box .form-checkbox {
    width: 20px;
    margin-right: 300px;
}
.data-box .triple {
    width: 100px;
}
.create-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    margin: 0 auto;
    width: 400px;
}
hr {
    margin-top: 10px;
}
.component .progress-bar {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #ddd;
}
.progress-bar div {
    position: absolute;
}
.progress-bar .progressing-bar {
    width: 10%;
    height: 100%;
    background-color: #01b4e4;
}
.progress-bar .progress-bar-text {
    margin: 10px 0;
    left: 38%;
}

.container {
    margin-bottom: 200px;
}