.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
}
.user-profile img {
    width: 400px;
    height: 400px
}
.data-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
.data-box input,
.data-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.data-box .component {
    margin-bottom: 15px;
}
input {
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 20px;
    min-height: 36px;
}
@media screen and (max-width: 900px) {
    .user-profile {
        Width: 90%;
        flex-direction: column;
    }
}
.data-box button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.data-box .pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data-box .pair button {
    width: 45%
}
button.enabled {
    background-color: #0d253f;
    transition: all 50ms ease-in-out;
}
button.enabled:hover {
    background-color: #01b4e4;
    transition: all 300ms ease-in-out;
}
.favorite {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
}
.favorite .f-item {
    position: relative;
    width: 180px;
    margin: 10px;
}
.favorite .f-item img {
    display: block;
    width: 180px;
    height: 180px;
    background-color: DodgerBlue;
}
.f-item .f-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0d253f;
    text-align: center;
    margin: 0px;
    transition: .5s ease;
    overflow: hidden;
    height: 0px;
}
.f-item .f-name h3 {
    color: #ccc;
}
.favorite .f-item:hover .f-name {
    height: auto;
}

@media screen and (max-width: 1300px) {
    .favorite {
        width: 1000px;
    }
}
@media screen and (max-width: 1100px) {
    .favorite {
        width: 800px;
    }
}
@media screen and (max-width: 900px) {
    .favorite {
        width: 600px;
    }
}
@media screen and (max-width: 700px) {
    .favorite {
        width: 400px;
    }
}
.data-box .favorite-page {
    width: 75px;
}
.data-box button.page-index {
    background-color: #01b4e4;
    width: 75px;
    border-radius: 0px;
}
.data-box button.previous {
    border-radius: 10px 0px 0px 10px;
}
.data-box button.next {
    border-radius: 0px 10px 10px 0px;
}
.data-box .centered {
    margin: 0px auto;
}
.tab-bar-content {
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
@media screen and (max-width: 1300px) {
    .tab-bar-menu,
    .tab-bar-content {
        width: 90%;
    }
}
.tab-bar-content table {
    border-collapse: collapse;
    min-width: 450px;
    width: 100%;
    overflow: scroll;
    background-color: white;
}
.tab-bar-content td,
.tab-bar-content th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tab-bar-content tr:nth-child(even) {
    background-color: #dddddd;
}
table.user-table .id-content {
    width: 10%;
    min-width: 50px;
}
table.user-table .name-content {
    width: 17.5%;
    min-width: 200px;
}
table.user-table .name-actor-content {
    width: 60%;
    min-width: 200px;
}
table.user-table .action-content {
    width: 20%;
    min-width: 200px;
}
table .edit,
table .delete {
    width: 20%;
    min-width: 200px;
    text-align: center;
    color: white;
    cursor: pointer;
}
table .edit,
.data-box button {
    background-color: #0d253f;
    transition: all 200ms ease-in-out;
}
table .edit:hover,
.data-box button:hover {
    background-color: #01b4e4;
    transition: all 300ms ease-in-out;
}
table .delete,
.data-box .delete {
    background-color: #8b0000;
    transition: all 200ms ease-in-out;
}
table .delete:hover,
.data-box .delete:hover {
    background-color: #ff9677;
    transition: all 300ms ease-in-out;
}
table .small {
    width: 10%;
    min-width: 100px;
}
.container .side {
    width: 30%;
    float: left;
}
.container .middle {
    width: 60%;
}
.container.data{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
button.disabled {
    background-color: #262626;
    transition: all 50ms ease-in-out;
}
button.disabled:hover {
    background-color: #888888;
    transition: all 300ms ease-in-out;
}